<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1 align="center">欢迎登陆武林秘籍管理系统 Designed by gqzdev</h1>
	<hr>
	<!--自定义登录页面-->
	<div align="center">
		<!--这里需要和spring-security修改后的规则保持一致
			http.formLogin().loginPage("userLogin").usernameParameter("user")
                        .passwordParameter("pwd"); //修改默认设置/login
		-->
		<form th:action="@{/userLogin}" method="post">
			用户名:<input name="user"/><br>
			密码:<input name="pwd"><br/>
			<input type="submit" value="登陆">
			<br>
			<input type="checkbox" name="remember"/>记住我
		</form>
	</div>
</body>
</html>