<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>success</title>
</head>
<body>
    <h4>成功！</h4>
    <div th:text="${hello}" id="hello" th:id="${hello}">这是欢迎信息！</div>
    <hr>
    <!--utext 不转义-->
    <div th:text="${hello}"> </div>
    <div th:utext="${hello}"></div>
    <hr>
    <!--th:each 每次遍历都会生成当前这个标签  -->
    <!--3个h4-->

    <h4 th:text="${user}" th:each="user:${users}"></h4>
    <hr>
    <h4>
        <!--/*行内写法 [[]] 相当于th:text   [{}] 相当于 th:utext 不转义特殊字符*/-->
        <span  th:each="user:${users}"> [[${user}]] </span>
    </h4>
</body>
</html>